<section className='banner-sec banner-v2 banner-v3'>
    <div className='banner-item'>
      <div className='banner-table'>
        <div className='banner-table-cell'>
          <div className='container'>
            <div className='row'>
              <div className='col-lg-6 col-md-8'>
                <div className='banner-content'>
                  <h1 className='banner-title font-ping-bold'>
                    Be The Future
                  </h1>
                  <p>
                    اكفأ و اسرع موقع ويب يدعم العلاقات العامة بمساعدة تقنية الذكاء الاصطناعي و يقدم افضل
                    المشروعات حول العالم
                  </p>
                  <a href='/register' className='btn btn-v3'>
                    انضم إلينا
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className='banner-v2-img'>
        <img className='banner-img' src='images/banner/b-main.jpg' alt='' />
        <img
          className='banner-ico banner-ico-1'
          src='images/banner-icon.svg'
          alt=''
        />
      </div>
    </div>
  </section>
  <section className='blockcain-top-sec blockcain-v3'>
    <div className='container'>
      <div className='row'>
        <div className='col-md-6 wow fadeInUp' data-wow-duration='1.5s'>
          <div className='blockcain-top'>
            <h2 className='hidden-title'>BeTheFuture</h2>
            <h2 className='column-title text-arabicc font-ping-bold'>
              مستقبل العالم بأجمعه يعتمد على تقنيات الذكاء الاصطناعي
            </h2>
          </div>
        </div>
        <div
          className='col-md-5 offset-md-1 wow fadeInUp'
          data-wow-duration='2s'>
          <div className='blockcain-top-content'>
            <p className='text-arabicc'>
              لقد ساعدنا الذكاء الاصطناعي علي انشاء انظمة ذو كفاءة عالية و
              التواصل السريع التلقائي مع العملاء، وتحديد الانماط و حل
              المشكلات و العوائٍق، جعلنا اعتمادنا علي التنبؤات التي تحددها
              النمذجة التنبؤية من اجل اتمام جميع المهام ذات التعقيد الشديد.
            </p>
          </div>
        </div>
      </div>
    </div>
    <section
      className='featured-sec featured-v3 section-p-120 blockchine-bg'
      id='featured'>
      <div className='container' id='particles-js'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item v3'>
              <small className='xs-section-title font-ping-medium'>
                خدمات الموقع
              </small>
              <h2 className='section-title font-ping-bold'>
                أهم ما يقدمه موقعنا
              </h2>
            </div>
          </div>
        </div>
        <div className='main-fetured-item'>
          <div className='row'>
            <div className='col-md-4 wow fadeInUp' data-wow-duration='1.5s'>
              <div className='single-feaured-item'>
                <img src='images/feature/icon-1.png' alt='' />
                <h3 className='feature-title font-ping-bold'>
                  محادثة جماعية
                </h3>
                <p className='font-ping-medium'>
                  افضل طريقة لتواصل الجميع بسهولة و دون تعقيد هي المحادثة
                  الجماعية التي يتمكن جميع الموظفين من المشاركة فيها لتبادل
                  الافكار و الآراء للوصول لأفضل الحلول واعلي كفاءة في العمل
                  و في اقل وقت ممكن.
                </p>
              </div>
            </div>
            <div className='col-md-4 wow fadeInUp' data-wow-duration='2s'>
              <div className='single-feaured-item'>
                <img src='images/feature/icon-2.png' alt='' />
                <h3 className='feature-title font-ping-bold'>
                  تدريبات خاصة
                </h3>
                <p className='font-ping-medium'>
                  افضل طريقة لتحسين كفاءة الموظفين بسهولة و بتعاون، توفير
                  جميع التدريبات التي يحتاجها اي موظف و عمل تصويت علي كل
                  تدريب علي حدي، و بتقينة الذكاء الاصطناعي يتم تحديد اهم
                  تدريب يتم اتاحته للتسجيل من قبل اي موظف.
                </p>
              </div>
            </div>
            <div className='col-md-4 wow fadeInUp' data-wow-duration='2.5s'>
              <div className='single-feaured-item'>
                <img src='images/feature/icon-3.png' alt='' />
                <h3 className='feature-title font-ping-bold'>
                  مهام اضافية
                </h3>
                <p className='font-ping-medium'>
                  افضل طريقة لتدعيم العلاقات العامة، هو مساعدة بعضنا للحصول
                  علي اعلي كفاءة بالإضافة للحصول علي نقاط زائدة تُحول ل
                  نقديا مقابل اي مجهود يُبذل.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          className='featured-poligonal-img wow fadeInRight'
          data-wow-duration='1.5s'>
          <img
            className='poligonal-img'
            src='images/feature/poligonal_3.png'
            alt=''
          />
        </div>
      </div>
    </section>
    <section className='blockcain-business-sec blockcain-business-v3'>
      <div className='container'>
        <div className='row'>
          <div
            className='col-md-6 col-lg-6 wow fadeInUp'
            data-wow-duration='1.5s'>
            <div className='blockcain-img'>
              <img src='images/blockchain/block_img_2.png' alt='' />
            </div>
          </div>
          <div
            className='col-md-6 col-lg-5 offset-lg-1 wow fadeInUp'
            data-wow-duration='2s'>
            <div className='blockcain-content'>
              <h3 className='column-title text-arabicc font-ping-bold'>
                أعلى جودة وأقل وقت
              </h3>
              <p className='text-arabicc font-ping-medium'>
                موقعنا يقدم افضل و اميز حل للتواصل السريع و السهل بين
                الموظفين و العملاء، يجمع بين اراء العملاء و كفاءة الموظفين
                للحصول علي افضل انتاج و اكفأ عمل، تم استخدام الذكاء
                الاصطناعي لتقييم أداء الموظفين بناءا علي أدائهم في المهام، و
                لتحديد افضل الموظفين للقيام بمهام محددة حتي يقدموا افضل ما
                عندهم، كما اُستخدم لتحديد مراحل القوة في العمل لتحقيق اعلي
                كفاءة بأقل جهد و اسرع وقت.
              </p>
              <a href='/register' className='btn btn-v3'>
              انضم الينا و احصل علي أكفأ النتائج..
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      className='how-work-sec how-work-v3 section-p-120 how-works-bg-v3'
      id='how_work'
    >
      <div className='container'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item v3'>
              <h2 className='section-title'>نظام اتمام المهام</h2>
            </div>
          </div>
        </div>
        <div className='row'>
          <div
            className='col-lg-4 col-md-6 wow fadeInUp'
            data-wow-duration='1.5s'>
            <div className='xs-count-down'>
              <h3 className='xs-single-title font-ping-bold'>
                المهمة تنتهي خلال
              </h3>

              <ul className='xs-counter-list'>
                <li>
                  <strong id='xs_hours'>30</strong>
                  <span>ساعات</span>
                </li>
                <li>
                  <strong id='xs_minuts'>24</strong>
                  <span>دقائق</span>
                </li>
                <li>
                  <strong id='xs_second'>24</strong>
                  <span>ثواني</span>
                </li>
              </ul>
              <div className='btn-wrapper text-center'>
                <a href='/overload'>
                <button className='btn btn-v3' type="submit">انجز مهامك</button>
                </a> 
              </div>
            </div>
          </div>
          <div
            className='col-lg-3 offset-lg-1 col-md-6 wow fadeInUp align-self-center'
            data-wow-duration='2s'>
            <div className='work-token-item'>
              <ul>
                <li>
                  <strong>مرحلة ما قبل العمل علي المشروع :</strong>
                  <span> تخزين بيانات المشروع</span>
                </li>
                <li>
                  <strong> مرحلة ما بعد تخزين البيانات :</strong>
                  <span>تقسيم العمل الي مجموعة مهام</span>
                </li>
                <li>
                  <strong> مرحلة ما بعد تقسيم المهام :</strong>
                  <span>
                    يتم جمع جميع المهام من قبل المدير الخاص بالمشروع
                  </span>
                </li>
                <li>
                  <strong> اخر مرحلة في نظام العمل :</strong>
                  <span>تسليم المشروع للعميل و استلام النقدية</span>
                </li>
              </ul>
            </div>
          </div>
          <div
            className='col-lg-4 align-self-center col-md-12 wow fadeInUp'
            data-wow-duration='2.5s'>
            <div className='work-video'>
              <img src='images/how-works/video3.png' alt='' />
              <a
                href='https://www.youtube.com/watch?v=qdHMrZGG-MQ'
                className='video-btn xs-video'
                data-effect='mfp-zoom-in'>
                <i className='icon icon-play-button2'></i>
                <span className='btn-hover-anim'></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section className='token-distribution-sec token-distribution-v3 section-p-120'>
      <div className='container'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item'>
              <small className='xs-section-title'>خط سير العمل</small>
              <h2 className='section-title'>خطة العمل</h2>
            </div>
          </div>
        </div>
        <div className='row'>
          <div className='col-lg-6 wow fadeInUp' data-wow-duration='1.5s'>
            <div className='row chart-gap'>
              <div className='col-sm-7 ml-lg-auto'>
                <h3 className='xs-single-title'>خطة إنجاز المشروع</h3>
              </div>
              <div className='col-sm-5'>
                <ul className='chart-label'>
                  <li>
                    <img src='images/token/label_img1.png' alt='' />
                    <span className='chart-bg1'>10 %</span> تخزين بيانات
                    المشروع
                  </li>
                  <li>
                    <img src='images/token/label_img2.png' alt='' />
                    <span className='chart-bg2'>08 %</span> الإتفاق علي
                    الأمور المادية
                  </li>
                  <li>
                    <img src='images/token/label_img3.png' alt='' />
                    <span className='chart-bg3'>12 %</span> تحديد فريق العمل
                    و تقسيم المشروع لمهامٍ
                  </li>
                  <li>
                    <img src='images/token/label_img4.png' alt='' />
                    <span className='chart-bg4'>70 %</span> إنجاز المهام و
                    تجميعها لتسليم المشروع
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div className='col-lg-6 wow fadeInUp' data-wow-duration='2s'>
            <div className='row chart-gap'>
              <div className='col-sm-7 ml-lg-auto'>
                <h3 className='xs-single-title'>عملية إختيار التدريب</h3>
              </div>
              <div className='col-sm-5'>
                <ul className='chart-label'>
                  <li>
                    <img src='images/token/label_img1.png' alt='' />
                    <span className='chart-bg1'>15 %</span> تصويت جميع
                    الموطفين
                  </li>
                  <li>
                    <img src='images/token/label_img2.png' alt='' />
                    <span className='chart-bg2'>35 %</span> عملية تنقية
                    التصويت
                  </li>
                  <li>
                    <img src='images/token/label_img3.png' alt='' />
                    <span className='chart-bg3'>40 %</span>تحديد التدريب
                    المناسب للموظفين
                  </li>
                  <li>
                    <img src='images/token/label_img4.png' alt='' />
                    <span className='chart-bg4'>10 %</span> إتاحة التدريب
                    للتسجيل
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section className='roadmap-sec roadmap-v3 section-p-120'>
      <div className='container-fluid'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item'>
              <small className='xs-section-title font-ping-medium'>
                سير العملية
              </small>
              <h2 className='section-title'>خط سير الشركة</h2>
            </div>
          </div>
        </div>
        <div className='roadmap-timeline'>
          <img src='images/roadmap/timelinered.png' alt='' />
          <div className='custom-container container'>
            <div className='row roadmap-timeline-item'>
              <div
                className='col-md xs-roadmap wow fadeInUp'
                data-wow-duration='1.5s'>
                <div className='single-roadmap-timeline'>
                  <b></b>
                  <h3>يناير ٢٠٢٣</h3>
                  <p>انشاء الشركة</p>
                </div>
              </div>

              <div
                className='col-md xs-roadmap wow fadeInUp'
                data-wow-duration='2s'>
                <div className='single-roadmap-timeline'>
                  <b></b>
                  <h3>فبراير ٢٠٢٣</h3>
                  <p>الوصول الى ٢٠ مليون دولار</p>
                </div>
              </div>

              <div
                className='col-md xs-roadmap wow fadeInUp'
                data-wow-duration='2.5s'>
                <div className='single-roadmap-timeline'>
                  <b></b>
                  <h3>مارس ٢٠٢٣</h3>
                  <p>أفضل موقع ويب في مجال العلاقات العامة بتقنية AI</p>
                </div>
              </div>

              <div
                className='col-md xs-roadmap wow fadeInUp'
                data-wow-duration='3s'>
                <div className='single-roadmap-timeline'>
                  <b></b>
                  <h3>ابريل ٢٠٢٣</h3>
                  <p>عمل تعاقد مع اهم و اكفأ الشركات في الوطن العربي</p>
                </div>
              </div>

              <div
                className='col-md xs-roadmap wow fadeInUp'
                data-wow-duration='3.5s'>
                <div className='single-roadmap-timeline'>
                  <b></b>
                  <h3>مايو ٢٠٢٣</h3>
                  <p>التعاقد مع اهم شركات العالم والوصول لقمة النجاح</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section className='social-list-sec social-list-v3 section-p-120'>
      <div className='container'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item'>
              <small className='xs-section-title'>تواصل معنا</small>
              <h2 className='section-title'>
                انضم إلينا على مواقع التواصل الاجتماعي
              </h2>
            </div>
          </div>
        </div>
        <div className='row'>
          <div
            className='col-lg col-6 col-md-3 wow fadeInUp'
            data-wow-duration='.5s'>
            <div className='single-social-list facebook'>
              <i className='fa fa-facebook'></i>
              <h3 className='xs-title sm'>Facebook</h3>
              <a href='https://www.facebook.com/profile.php?id=100089908270205&mibextid=LQQJ4d'>
                <span className='icon icon-arrow-right'></span>
              </a>
            </div>
          </div>
          <div
            className='col-lg col-6 col-md-3 wow fadeInUp'
            data-wow-duration='1s'>
            <div className='single-social-list twitter'>
              <i className='fa fa-twitter'></i>
              <h3 className='xs-title sm'>Instagram</h3>
              <a href='https://instagram.com/_ai_era?igshid=YmMyMTA2M2Y='>
                <span className='icon icon-arrow-right'></span>
              </a>
            </div>
          </div>
          <div
            className='col-lg col-6 col-md-3 wow fadeInUp'
            data-wow-duration='1.5s'>
            <div className='single-social-list github'>
              <i className='fa fa-github-alt'></i>
              <h3 className='xs-title sm'>TikTok</h3>
              <a href='https://www.tiktok.com/@_ai_era?_t=8aoedud4zdy&_r=1'>
                <span className='icon icon-arrow-right'></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section className='docement-v3 section-p-120'>
      <div className='container'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item v3'>
              <small className='xs-section-title'>توثيق</small>
              <h2 className='section-title'>الوثائق الخاصة بموقعنا</h2>
            </div>
          </div>
        </div>
        <div className='row'>
          <div
            className='col-lg-8 mx-auto wow fadeInUp'
            data-wow-duration='1.5s'>
            <div
              className='nav xs-tabs-menu'
              id='v-pills-tab'
              role='tablist'
              aria-orientation='horizontal'>
              <a
                className='active col-md'
                id='v-pills-home-tab'
                data-toggle='pill'
                href='#v-pills-home'
                role='tab'
                aria-controls='v-pills-home'
                aria-selected='true'>
                <i className='icon-wallet'></i>
                خطوات اتمام الموقع
              </a>

              <a
                className='col-md'
                id='v-pills-profile-tab'
                data-toggle='pill'
                href='#v-pills-paper'
                role='tab'
                aria-controls='v-pills-paper'
                aria-selected='false'>
                <i className='icon-whitepaper'></i>
                التقنيات المستخدمة في الموقع
              </a>

              <a
                className='col-md'
                id='v-pills-report-tab'
                data-toggle='pill'
                href='#v-pills-reports'
                role='tab'
                aria-controls='v-pills-reports'
                aria-selected='false'>
                <i className='icon-report'></i>
                كيفية استخدام الموقع
              </a>

              <a
                className='col-md'
                id='v-pills-ico-tab'
                data-toggle='pill'
                href='#v-pills-ICO'
                role='tab'
                aria-controls='v-pills-ICO'
                aria-selected='false'>
                <i className='icon-structure'></i>
                دور الذكاء الاصطناعي في إنشاء الموقع
              </a>
            </div>
            <div className='road-map-tab'>
              <div className='tab-content' id='v-pills-tabContent'>
                <div
                  className='tab-pane tab_item_1 show active'
                  id='v-pills-home'
                  role='tabpanel'
                  aria-labelledby='v-pills-home-tab'>
                  <div className='row'>
                    <div className='col-md-6 align-self-center'>
                      <div className='xs-tabs-content'>
                        <h3 className='xs-single-title'>
                          احصل علي الوثيقة
                        </h3>
                        <span className='release_vertion'>أحدث وثيقة</span>
                      </div>
                    </div>
                    <div className='col-md-6'>
                      <div className='xs-tabs-img'>
                        <img
                          src='images/documentation/wallter_phones_v3.png'
                          alt=''
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  className='tab-pane tab_item_2'
                  id='v-pills-paper'
                  role='tabpanel'
                  aria-labelledby='v-pills-profile-tab'>
                  <div className='row'>
                    <div className='col-md-6'>
                      <div className='xs-tabs-img text-center'>
                        <img
                          src='images/documentation/whitepaper.png'
                          alt=''
                        />
                      </div>
                    </div>
                    <div className='col-md-6'>
                      <div className='xs-white-tabs-content'>
                        <h3 className='xs-single-title'>الوثائق</h3>
                        <p>
                          أفضل طريقة لبناء موقع ويب يخدم عصر الذكاء
                          الاصطناعي هو اختيار تقنيات و لغات برمجة تتماشي مع
                          الذكاء الاصطناعي، لذلك تم اختيار و استخدام افضل و
                          اتقن لغات البرمجة التي تخص الذكاء الاصطناعي، تم
                          استخدام افضل التقنيات لتحقيق هدفنا الرئيسي و
                          الأساسي و هو خدمة قسم العلاقات العامة بإستخدام
                          تقنية الAI
                        </p>
                        <a href='/about' >
                          <button className='btn btn-v3' type="submit">تعرف علي موقعنا</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  className='tab-pane tab_item_3'
                  id='v-pills-reports'
                  role='tabpanel'
                  aria-labelledby='v-pills-report-tab'>
                  <div className='report-table table-responsive'>
                  </div>
                </div>
                <div
                  className='tab-pane tab_item_4'
                  id='v-pills-ICO'
                  role='tabpanel'
                  aria-labelledby='v-pills-ico-tab'>
                  <div className='ico-table table-responsive'>
                    <table className='table'>
                      <tr>
                        <td>
                          تم توظیف ال AI انھ یساعد مدیر ال HR في تقییم أداء
                          الموظفین بناءا على عملھم وأدائھم في المھام ومعرفة
                          ما یحتاجھ كل موظف لتحسین عملھ وانتاج أفضل
                        </td>
                        <td>٦/٣/٢٠٢٣</td>
                      </tr>
                      <tr>
                        <td>
                          تم استخدام ML وھي تقنیة ذكاء اصطناعي لعمل نمذجة
                          تنبؤیة لاختیار أفضل الموظفین ل عمل مھام محددة،
                          ولاختیار مراحل القوة في العمل لتحقیق اعلي كفاءة
                          بأقل جھد و أسرع وقت
                        </td>
                        <td>٨/٣/٢٠٢٣</td>
                      </tr>
                      <tr>
                        <td>
                          تم استخدام ال AI في القیام بعملیة تنقیة تلقائیة من
                          اراء العملاء والمشاكل التي قد حدثت من قبل في
                          الاستفادة من تلك المشكلات والخطوات التي یجب اتبعھا
                          لعدم الوقوع في تلك المشكلات
                        </td>
                        <td>٨/٣/٢٠٢٣</td>
                      </tr>
                      <tr>
                        <td>
                          تم استخدام ال ML كا تقنیة لعمل نمذجة تنبؤیة بما
                          سوف تحققھ الشركة لو توفرت تدریبات محددة للموظفین
                          لزیادة كفائتھم في العمل وتقلیل وقت العمل
                        </td>
                        <td>٩/٣/٢٠٢٣</td>
                      </tr>
                      <tr>
                        <td>
                          یوجد Chatbot باستخدام تقنیة ال AI، وھو مسئول على
                          الرد على العملاء وأي استفسار یخص الویب
                        </td>
                        <td>٩/٣/٢٠٢٣</td>
                      </tr>
                      <tr>
                        <td>
                          تم استخدام ال AI في اختيار تصمیمات الوجھ تتناسب مع
                          موضوع الویب ومع الموضوعات/الخدمات التي یقدمھا
                          الویب
                        </td>
                        <td>١٠/٣/٢٠٢٣</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className='documentaion-shap-img'>
        <img
          className='d-shap-img-1 wow fadeInLeft'
          data-wow-duration='1.5s'
          src='images/documentation/globe1.png'
          alt=''
        />
        <img
          className='d-shap-img-2 wow fadeInRight'
          data-wow-duration='1.5s'
          src='images/documentation/globe2.png'
          alt=''
        />
        <img
          className='d-shap-img-3 wow fadeInUp'
          data-wow-duration='1.5s'
          src='images/documentation/rectangle.png'
          alt=''
        />
      </div>
    </section>
    <section
      className='team-sec team-v2-sec team-v3 section-p-120'
      id='team'>
      <div className='container'>
        <div className='row'>
          <div className='col-lg-8 mx-auto'>
            <div className='section-title-item'>
              <small className='xs-section-title'>خبراءنا المتميزين</small>
              <h2 className='section-title'>أهم أعضاء الموقع</h2>
            </div>
          </div>
        </div>
        <div className='row'>
          <div
            className='col-lg-3 col-sm-6 wow fadeInUp'
            data-wow-duration='1.5s'>
            <div className='single-team'>
              <div className='team-img'>
                <img src='images/team/team_1.jpg' alt='' />
              </div>
              <div className='team-content'>
                <h3 className='xs-title md'>James Carter</h3>
                <p>CEO</p>
                <div className='team-social'>
                  <a href='#'>
                    <i className='icon icon-facebook'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-twitter'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-linkedin'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            className='col-lg-3 col-sm-6 wow fadeInUp'
            data-wow-duration='2s'>
            <div className='single-team'>
              <div className='team-img'>
                <img src='images/team/team_2.jpg' alt='' />
              </div>
              <div className='team-content'>
                <h3 className='xs-title md'>James</h3>
                <p>Manager</p>
                <div className='team-social'>
                  <a href='#'>
                    <i className='icon icon-facebook'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-twitter'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-linkedin'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            className='col-lg-3 col-sm-6 wow fadeInUp'
            data-wow-duration='2.5s'>
            <div className='single-team'>
              <div className='team-img'>
                <img src='images/team/team_3.jpg' alt='' />
              </div>
              <div className='team-content'>
                <h3 className='xs-title md'>Michel Ramos</h3>
                <p>HR Head</p>
                <div className='team-social'>
                  <a href='#'>
                    <i className='icon icon-facebook'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-twitter'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-linkedin'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            className='col-lg-3 col-sm-6 wow fadeInUp'
            data-wow-duration='3s'>
            <div className='single-team'>
              <div className='team-img'>
                <img src='images/team/team_4.jpg' alt='' />
              </div>
              <div className='team-content'>
                <h3 className='xs-title md'>Lorence Katie</h3>
                <p>Lead Designer</p>
                <div className='team-social'>
                  <a href='#'>
                    <i className='icon icon-facebook'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-twitter'></i>
                  </a>
                  <a href='#'>
                    <i className='icon icon-linkedin'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
